/*////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////// 404 ////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////*/

@import 'var';

.barba-container[data-namespace="404"]{
    section{
        display: table;
        text-align: center;
        width: 100%;
        height: 100%;
        .wrapper{
            display: table-cell;
            vertical-align: middle;
        }
    }
}