/*/////////////////////////////////////////////////////////////////////////////////
//////////////////////////////// VARIABILI ///////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////*/

// Width

$max_width: 1280px;

// Font

$font: 'Asap', "Lucida Sans Unicode", "Lucida Grande", sans-serif;

$bold: 500;

$line_height_paragaph: 1.5;
$line_height_header: 1.2;

// Colors

$gray: #5d5d5d;
$selection: rgba(255,255,255,0.8);
$selection_color: $gray;

// Projects

$height_project: 25rem;
$height_project_x2: $height_project * 2 + 3rem;

