/*/////////////////////////////////////////////////////////////////////////////////
//////////////////////////////// VARIABILI ///////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////*/

// Width

$max_width: 1280px;

// Font

$font: 'Asap', "Lucida Sans Unicode", "Lucida Grande", sans-serif;

$bold: 500;

$line_height_paragaph: 1.5;
$line_height_header: 1.2;

// Colors

$gray: #5d5d5d;
$selection: rgba(255,255,255,0.8);
$selection_color: $gray;

$linkFxTranform: scale3d(0,1,1);  // horizonatl -->  scale3d(1,0,1);
$linkFxOriginInitial: top right;  // horizonatl -->  50% 100%;
$linkFxOriginFinal: top left;  // horizonatl -->  50% 0%;