/*/////////////////////////////////////////////////////////////////////////////////
//////////////////////////////// VARIABILI ///////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////*/

// Width

$max_width: 1280px;

// Font

$font: 'Asap', sans-serif;
$bold: 500;

$line_height_paragaph: 1.5;
$line_height_header: 1.2;

// Colors

$gray: #5d5d5d;
$selection: rgba(255,255,255,0.8);
$selection_color: $gray;