/*////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////// ADMIN ///////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////*/

@import 'var';

.container_admin{
    position: fixed;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%,0);
    display: table;
    max-width: 40rem;
    z-index: 9;
    form{
        display: table-cell;
        vertical-align: middle;
        text-align: left;
        h3{
            color: #fff;
            font-size: 2rem;
            text-transform: uppercase;
        }
        .container_filter{
            h3{
                margin-bottom: 1rem;
                margin-top: 0.5rem;
            }
            label{
                margin-right: 2rem;
                position: relative;
                display: block;
                cursor: pointer;
                margin-bottom: 1.5rem;
                span{
                    font-size: 1.6rem;
                    color: #fff;
                    margin-left: 1rem;
                    &::selection {
                        background: transparent;
                        color: #fff;
                    }
                }
                span, input{
                    display: inline-block;
                    vertical-align: text-bottom;
                }
                i{
                    position: absolute;
                    top: -2px;
                    left: 2px;
                    width: 1.8rem;
                    height: 1.8rem;
                    opacity: 0;
                    background-image: url(../images/icons/check.svg);
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    cursor: pointer;
                    &::selection {
                        background: transparent;
                    }
                }
                input[type="checkbox"] {
                    margin: 0;
                    width: 1.5rem;
                    height: 1.5rem;
                    background-color: #fff;
                    appearance: none;
                    -webkit-appearance: none;
                    cursor: pointer;
                    outline: none;
                    &:checked{
                        +i{
                            opacity: 1;
                        }
                    }
                }
                &::selection {
                    background: transparent;
                    color: #fff;
                }
                &:last-of-type{
                    margin-bottom: 0;
                }
            }
        }
        .container_image_upload{
            h3{
                margin-top: 2rem;
                margin-bottom: 1rem;
            }
            label{
                position: relative;
                display: inline-block;
                span{
                    cursor: pointer;
                    background-color: #fff;
                    font-size: 1.6rem;
                    color: $gray;
                    width: auto;
                    padding: 1rem 3rem;
                    margin-bottom: 1.5rem;
                    display: inline-block;
                }
                input[type="file"] {
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    width: 100%;
                }
            }
        }
        .container_upload_result{
            font-size: 1.6rem;
            color: #fff;
            display: inline-block;
            margin-left: 2rem;
        }
    }
}