/*////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////// DEV ///////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////*/

@import 'var';

.barba-container[data-namespace="dev"]{
    ul{
        padding-top: 9.5rem;
        li{
            a{
                color: #fff;
                line-height: 2;
                font-size: 1.6rem;
                padding-left: 2.5rem;
                position: relative;
                &:before{
                    content: '';
                    background-image: url(../images/icons/link.svg);
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    height: 1.5rem;
                    width: 1.5rem;
                    position: absolute;
                    top: 0.25rem;
                    left: 0;
                }
            }
        }
    }
    form{
        .container_file_upload{
            h3{
                color: #fff;
                font-size: 2rem;
                text-transform: uppercase;
            }
        }
        .container_progress{
            opacity: 0;
            height: 0;
            visibility: hidden;
            transition: opacity 0.2s, visibility 0.2s 0s;
            #progressBar{
                max-width: 25rem;
                width: 100%;
                margin-bottom: 0.2rem;
            }
            #progressCount{
                font-size: 1.4rem;
                margin-bottom: 1.5rem;
            }
        }
        &.on_load{
            .container_progress{
                opacity: 1;
                visibility: visible;
                height: auto;
                transition: opacity 0.3s, visibility 0s;
            }
        }
    }
}