/*////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////// LOGIN ///////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////*/

@import 'var';

.container_login{
    max-width: 40rem;
    margin: 0 auto;
    &.incorrect_login{
        form{
            input:not([type="submit"]) {
                border-left: 3px solid #E53935;
            }
        }
    }
}

