/*////////////////////////////////////////////////////////////////////////////////
//////////////////////////////// ABOUT ME ///////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////*/

.barba-container[data-namespace="about-me"] {
    opacity: 0;
    .container_intro{
        margin: 3rem 0;
        max-width: 90rem;
        h1{
            line-height: 1.4;
            span:not(.move_it){
                color: rgba(255,255,255,0.55);
            }
            span, a {
                line-height: inherit;
            }
            .move_it{
                display: inline-block;
            }
        }
        p{
            font-size: 3rem;
            margin-top: 2rem;
            a{
                padding-bottom: 0.4rem;
                &.more{
                    margin-top: 1rem;
                    display: inline-block;
                }
            }
            span{
                font-style: italic;
                &.more_content{
                    opacity: 0;
                    display: none;
                }
            }
        }
        &.detail_active{
            p{
                a{
                    &.more{
                        color: rgba(255,255,255,0.55) !important;
                    }
                }
            }
        }
    }
}