/*////////////////////////////////////////////////////////////////////////////////
//////////////////////////////// ABOUT ME ///////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////*/

.barba-container[data-namespace="about-me"] {
    .container_intro{
        margin: 3rem 0;
        max-width: 90rem;
        h1{
            line-height: 1.4;
            span{
                color: rgba(255,255,255,0.55);
            }
            span, a {
                line-height: inherit;
            }
        }
        p{
            font-size: 3rem;
            margin-top: 2rem;
            a{
                padding-bottom: 0.4rem;
            }
        }
    }
    #scene{
        position: absolute;
        top: 6.5rem;
        right: 0;
        width: 40%;
        height: calc(100vh - 13rem);
        padding: 6rem;
        .layer{

        }
    }
}