/*////////////////////////////////////////////////////////////////////////////////
//////////////////////////////// CONTACT ///////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////*/

.barba-container[data-namespace="contact"] {
    .vertical_align{
        padding-top: 9.5rem;
        padding-bottom: 9rem;
        .container_intro{
            max-width: 80rem;
            h1{
                line-height: 1.4;
                span{
                    color: rgba(255,255,255,0.55);
                }
                span, a {
                    line-height: inherit;
                }
                a{
                    position: relative;
                    &:before{
                        content: '';
                        position: absolute;
                        z-index: -1;
                        bottom: 0.6rem;
                        left: -0.6rem;
                        width: calc(100% + 1.2rem);
                        height: 30%;
                        background: rgba(255,255,255,0.3);
                        transform: scale3d(1,0,1);
                        transform-origin: 50% 100%;
                        transition: transform 0.3s;
                        transition-timing-function: cubic-bezier(0.7,0,0.3,1);
                    }
                    &:hover{
                        &:before{
                            transform: scale3d(1,1,1);
                            transform-origin: 50% 0%;
                        }
                    }
                }
            }
        }
    }
}