/*////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////// LOGIN ///////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////*/

.barba-container[data-namespace="login"] {

    .vertical_align{
        .container_login{
            max-width: 40rem;
            margin: 0 auto;
            form{
                input{
                    background-color: #fff !important;
                    padding: 1rem 1.5rem;
                    margin-bottom: 1.5rem;
                    font-size: 1.6rem;
                    border: none;
                    width: 100%;
                    display: block;
                    appearance: none;
                    outline: none;
                    -webkit-appearance: none;
                    &::selection {
                        background: rgba(0,0,0,0.3);
                    }
                    &:-webkit-autofill{
                        box-shadow: 0 0 0px 1000px #fff inset;
                    }
                    &[type="submit"] {
                        margin-bottom: 0;
                        cursor: pointer;
                        max-width: 15rem;
                        color: $gray;
                        text-transform: uppercase;
                        &:hover{
                            color: #000;
                        }
                    }
                }
            }
            &.incorrect_login{
                form{
                    input:not([type="submit"]) {
                        border-left: 2px solid #E53935;
                    }
                }
            }
        }
    }

}