/*////////////////////////////////////////////////////////////////////////////////
//////////////////////////////// PROVA ///////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////*/

.barba-container[data-namespace="prova"] {
    .container_text{
        position: absolute;
        text-align: center;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        h1{
            font-size: 3rem;
            color: #fff;
        }
    }
}