/*////////////////////////////////////////////////////////////////////////////////
//////////////////////////////// MEDIAQUERYS ///////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////*/

@media screen and (min-width:1600px) {
    html{
        font-size: 11px; 
    }
}

@media screen and (max-width:1024px) {
    html{
        font-size: 9px;
    }
}

@media screen and (max-width:900px) {
    .barba-container[data-namespace="projects"]{
        .wrapper{
            .container_fn_project{
                .container_projects{
                    .project{
                        width: calc(50% - 3rem);
                        height: 16rem;
                    }
                }   
            }
        }  
    } 
}

@media screen and (max-width:767px) {

    h1{
        font-size: 4rem;
    }

}

@media screen and (max-width:560px) {
    html{
        font-size: 8px; 
    }
}

@media screen and (max-width:400px) {
    .barba-container[data-namespace="projects"]{
        .wrapper{
            .container_fn_project{
                .container_projects{
                    .project{
                        width: calc(100% - 3rem);
                        height: 16rem;
                    }
                }   
            }
        }  
    } 

}