/*////////////////////////////////////////////////////////////////////////////////
//////////////////////////////// MEDIAQUERYS ///////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////*/

@media screen and (min-width:1600px) {
    html{
        font-size: 11px; 
    }
}

@media screen and (max-width:1024px) {
    html{
        font-size: 9px;
    }
}

@media screen and (max-width:900px) {
    .barba-container[data-namespace="projects"]{
        .wrapper{
            .container_fn_project{
                .container_projects{
                    .project{
                        width: calc(50% - 1.5rem);
                        height: 16rem;
                    }
                }   
            }
        }  
    } 
}

@media screen and (max-width:767px) {
    h1{
        font-size: 4rem;
    }
}

@media screen and (max-width:560px) {
    html{
        font-size: 8px; 
    }
}

@media screen and (max-width:430px) {
    .barba-container[data-namespace="about-me"]{
        .container_intro{
            h1{
                br:not(.last_separator){
                    display: none;
                }
            }
        }
    } 
}

@media screen and (max-width:400px) {
    .barba-container[data-namespace="projects"]{
        .wrapper{
            .container_fn_project{
                .container_projects{
                    .project{
                        width: calc(100% - 1.5rem);
                        height: 16rem;
                    }
                }   
            }
        }  
    } 
}

@media screen and (min-height:750px) and (min-width:600px) {
    .barba-container[data-namespace="about-me"]{
        .container_intro{
            margin-top: calc(((100vh - 6.5rem) - 58rem) / 2);
        }  
    } 
}