/*////////////////////////////////////////////////////////////////////////////////
//////////////////////////////// NAV ///////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////*/

header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 1.5rem 0 2rem 0;
    z-index: 3;
    background-color: #fff;
    nav{
        position: relative;
        li{
            display: inline-block;
            margin: 0 1.5rem;
            a{
                padding: 1.5rem 0;
                padding-bottom: 0.4rem;
                font-size: 2rem;
                color: $gray;
                &.is_active{
                    border-bottom-width: 2px;
                    border-bottom-style: solid;
                }
            }
            &:first-of-type{
                margin-left: 0;
            }
        }
        >a{
            position: absolute;
            top: 50%;
            right: 3rem;
            transform: translate(0,-50%);
            font-family: $font;
            font-size: 1.6rem;
            color: $gray;
        }
    }
}